@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'CustomFont';
  src: url('customfont.ttf') format('truetype');
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'CustomFont';
}
.rdt_TableHead *{
  font-size: 1.125rem;
line-height: 1.75rem;
font-weight:600;
}
.dashincome,.dashexpense,.dashcategory {
  border-style: solid;
  border-width: 2px;
  border-color:#000;
  box-shadow: 3px 3px 0 0 #000;
  border-radius: 15px;
  background: transparent;
}
.hoverbordered:hover{
  box-shadow: rgb(0, 0, 0) 4px 4px 0px 0px;
  outline: none;
}
.hoverbordered{
  transition: box-shadow 0.3s;

}
.cardmain:after {
  content:"";
  height:2px;
  width:96%;
  margin:auto;
  display:block;
  z-index:1;
  position:absolute;
  top:50px;
  right:10px;
  transform:translateX(1px);
  border:2px dashed #000;
}
.cardmain{
  position:relative;
}
.iconitem {
  background:#fff;
  position:relative;
  outline:5px solid #fff;
  z-index:20 !important;
}